  body {background-image:url("images/5630939.jpg"); /*j'ai pensé qu'une couleur random manque d'originalité ( l'image est libre de droit )*/ 
    background-size: cover; 
    font-family: Montserra, sans-serif; 
    margin: 0; padding: 0; } 
    
    h1{font-family: Momo Trust Display, sans-serif; /*police récuperée sur google font*/ } 
    header { background: linear-gradient(90deg,rgb(2, 142, 142),rgb(128, 1, 128)); 
        padding: 20px; 
        text-align: center; 
        color:white ; } 
    
    h1:hover{text-shadow: 2px 2px 5px gray;} /*je prefere placer les hover sous les variables correspondantes ça facilite la recherche */ 
    
    nav a { color: white; 
        text-decoration: none; 
        margin: 0 10px; } 
    
    nav a:hover{ text-decoration: underline; }

    main { padding: 20px; } 
    
    li{font-family: Montserra, sans-serif; 
        font-size: 20px; 
        color: white;} 
    p{color: white; margin-top: 0;} 
    
    /*classes : */ 
    .article h2 { display:inline-block; 
        font-family :Momo Trust Display, sans-serif ; 
        border: 2px solid white; 
        border-radius: 20px; 
        padding: 10px; 
        color: white; }

    h2:hover{box-shadow: 2px 2px 5px darkcyan;} 

    h3{font-size: 15px;;}
    
    .conteneur{width: 500px; 
        height: 400px; ; 
        border-radius: 50px; 
        margin: 0; padding:0 ;} 

    .article { border-bottom: 1px solid #ccc; 
        margin-bottom: 20px; 
        padding-bottom: 10px; } 

    div .photo{display: block; 
        width: 90%; height: auto; ; 
        transition: transform 0.4s ease; box-shadow:0.4 ease ; }

    div .photo:hover{margin: auto; 
        transform: scale(1.2);} /* j'evite de mettre un scale trop important sinon je vais depasser de l'ecran */ 
     
    .youtube img{width: 50px; height: 32px;} 
    .github img{width: 50px; height: 32px;} 
   
    .retour{display: inline-block; 
        text-align: right; 
        color: white; 
        cursor: pointer;} 
    .retour:hover { color: #f0f0f0; } /*Bas de page*/ 
    
    footer { display:flex ; 
        justify-content:space-between; 
        background:linear-gradient(90deg,rgb(2, 142, 142),rgb(128, 1, 128)); 
        color: white; align-items: center; padding: 20px; } 
    footer nav{ display: flex; gap: 20px;}

    /*police importées*/ 

    .momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}